<section class="addTask js-form hide">
  <div class="addTask__container">
    <button class="addTask__close js-close" title="Cerrar">
      &#x2715
    </button>
    <form action="" class="addTask__form js-taskForm">
      <label for="task" class="addTask__form--title">Nueva tarea</label>
      <input id="task" type="text" class="addTask__form--input js-input" placeholder="ej: terminar app"/>
      <input
        class="addTask__form--submit js-submit"
        type="button"
        value="Submit"
        title="Añadir tarea"
      />
    </form>
  </div>
</section>
