<main class="main">
  <div class="main__layerSmall">
    <article class="main__header"></article>
  </div>
  <div class="main__layerMedium">
    <article class="main__header"></article>
  </div>
  <section class="main__container">
    <article class="main__header">
      <div class="main__header-day-container">
        <div class="main__header-day js-day"></div>
        <div class="main__header-container">
          <div class="main__header-container--month js-month"></div>
          <div class="main__header-container--year js-year"></div>
        </div>
      </div>
      <div class="main__header-weekday js-weekDay"></div>
    </article>
    <article class="main__task-list js-list"></article>
    <include src="./addNewTask.html"></include>
    <article class="main__add">
      <button class="main__add--delete js-delete">
        <i class="fas fa-times"></i>
      </button>
      <button title="Añadir nueva tarea" class="main__add--btn js-btn">
        <i class="fas fa-plus"></i>
      </button>
    </article>
  </section>
</main>
