.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  overflow: scroll;
  &__layerSmall {
    z-index: 1;
    height: 540px;
    width: 330px;
    background-color: $color-light;
    position: absolute;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 15px -5px #021916;
    box-shadow: 1px 1px 15px -5px #021916;
    display: none;
    @media all and(min-width: 768px) {
      display: inline;
    }
  }
  &__layerMedium {
    height: 520px;
    width: 340px;
    position: absolute;
    background-color: $color-light;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 15px -5px #021916;
    box-shadow: 1px 1px 15px -5px #021916;
    display: none;
    @media all and(min-width: 768px) {
      display: inline;
    }
  }
  &__container {
    z-index: 2;
    height: 560px;
    width: 320px;
    background-color: $color-light;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 15px -5px #021916;
    box-shadow: 1px 1px 15px -5px #021916;
  }
  &__header {
    padding: 0 5px;
    color: $color-light;
    display: flex;
    justify-content: space-between;
    background-color: $color-tertiary;
    height: 130px;
    border-radius: 5px 5px 0 0;
  }
  &__header-day-container {
    display: flex;
  }
  &__header-day {
    font-size: 5rem;
    align-self: center;
  }
  &__header-container {
    align-self: center;
    &--month {
      font-size: 2.1rem;
    }
  }
  &__header-weekday {
    align-self: flex-end;
    font-size: 1.4rem;
  }
  &__task-list {
    overflow: scroll;
    height: 360px;
    padding: 20px 30px;
    line-height: 35px;
  }
  &__add {
    display: flex;
    justify-content: center;
    &--btn {
      cursor: pointer;
      width: 55px;
      height: 55px;
      margin: auto;
      color: $color-tertiary;
      border: 4px solid $color-main;
      border-radius: 50%;
      font-size: 27px;
      outline-style: none;
      transition: 0.5s ease;
      &:active {
        transform: scale(0.95);
      }
    }
    &--delete {
      cursor: pointer;
      width: 55px;
      height: 55px;
      margin: auto;
      color: $color-tertiary;
      border: 4px solid $color-main;
      border-radius: 50%;
      font-size: 27px;
      outline-style: none;
      transition: 0.5s ease;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
.checkbox {
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-right: 5px;
  transform: translate(28px, 3px);
  opacity: 0;
  width: 20px;
  height: 20px;
}
.custom-check {
  margin: 5px 5px 0 0;
  border: 2.5px solid $color-main;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.checked {
  background-image: url(https://img.icons8.com/metro/16/000000/checkmark.png);
  background-position: center;
  border: 2.5px solid $color-tertiary;
}
.removed {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.507);
}
.task {
  display: flex;
  align-items: center;
  color: $color-secondary;
  @media all and(min-width: 768px) {
    font-size: 1.2rem;
  }
  .deleteBtn {
    background-color: transparent;
    margin-top: 3px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    right: 0;
    opacity: 0.2;
    outline-style: none;
    transition: ease 0.5s;
    border-radius: 50%;
    animation: shake 0.3s infinite;
    &:hover {
      opacity: 0.9;
      background-color: #80808050;
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: srotate(0deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: srotate(0deg);
  }
}
