.addTask {
  background-color: $color-tertiary;
  border-radius: 5px;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      color: $color-light;
    }
    &--input {
      outline-style: none;
      border: 1px solid $color-light;
      background-color: transparent;
      border-radius: 5px;
      width: 200px;
      height: 40px;
    }
    &--submit {
    }
  }
  &__close {
    border: none;
    background: none;
    color: $color-secondary;
    font-size: 1.6rem;
    outline-style: none;
  }
}
.hide {
  display: none;
}
