.addTask {
  position: fixed;
  z-index: 1;
  background-color: #ffffff85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s linear;
  &__container {
    background-color: $color-tertiary;
    border-radius: 5px;
    top: 29rem;
    width: 280px;
    height: 180px;
    -webkit-box-shadow: 1px 1px 15px -3px #000000;
    box-shadow: 1px 1px 15px -3px #000000;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      color: $color-light;
      align-self: flex-start;
      margin-left: 3.2rem;
    }
    &--input {
      outline-style: none;
      border: 1px solid $color-light;
      background-color: transparent;
      border-radius: 5px;
      width: 200px;
      height: 40px;
      padding-left: 5px;
      &::placeholder {
        color: #ffffff71;
      }
    }
    &--submit {
      cursor: pointer;
      margin: 1.6rem 0;
      color: $color-light;
      background-color: transparent;
      border-radius: 20px;
      width: 100px;
      height: 35px;
      border: 1px solid $color-light;
      outline-style: none;
      &:hover {
        background-color: #ffffff33;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: relative;
    left: 249px;
    margin: 2px;
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50%;
    background: none;
    color: $color-light;
    font-size: 1.2rem;
    outline-style: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.199);
    }
  }
}
.hide {
  display: none;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
