.addTask {
  border: 1px solid black;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__close {
    border: none;
    background: none;
    color: $color-tertiary;
    font-size: 1.6rem;
  }
}
.hide {
  display: none;
}
